////
/// @group Source
////

/// Black Color
/// @name Black
/// @type string
$black: #000000;

/// White Color
/// @name White
/// @type string
$white: #FFFFFF;

/// Orange Color
/// @name Orange
/// @type string
$orange: #F26522;

/// Grey Color
/// @name Grey
/// @type string
$grey: #464646;

/// Gray Color - fallback variable for spelling diff
/// @name Gray
/// @type string
$gray: #464646;

